@model ProjectGuru.ViewModels.ActivityViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentProject.Name)
        </dd>

        <dt>
           Activity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Name) - @Html.DisplayFor(model => model.Activity.Description)
        </dd>

        <dt>
           Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { projectId = Model.ParentProject.Id, activityId = Model.Activity.Id }) |
    @Html.ActionLink("Back to List", "Index", new { projectId = Model.ParentProject.Id})
</p>
