@model IEnumerable<ProjectGuru.Models.Activity>

@{
    ViewBag.Title = "Activities";
}

<h2>Activities Overview</h2>

<p>
    @Html.ActionLink("New Activity", "Create", new { project = ViewBag.Project }) |
    @Html.ActionLink("Back To Projects", "Index", "Project")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { project = ViewBag.Project, name = item.Name }) |
                @Html.ActionLink("Details", "Details", new { project = ViewBag.Project, name = item.Name }) |
                @Html.ActionLink("Delete", "Delete", new { project = ViewBag.Project, name = item.Name })
            </td>
        </tr>
    }

</table>
