@model ProjectGuru.ViewModels.ActivityListViewModel

@{
    ViewBag.Title = "Activities";
    IEnumerable<ProjectGuru.Models.Activity> Activities = Model.Activities;
    ProjectGuru.Models.Project Project = Model.ParentProject;
}

<h2>Activities Overview</h2>

<p>
    @Html.ActionLink("New Activity", "Create", new { projectId = Project.Id }) |
    @Html.ActionLink("Back to " + Project.Name, "Index", "Project")
</p>
<table class="table">
    <tr>
        <th>
            Activity
        </th>
        <th>
           Description
        </th>
        <th>
            Duration
        </th>
        <th></th>
    </tr>

    @foreach (var item in Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { projectId = Project.Id, id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { projectId = Project.Id, id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { projectId = Project.Id, id = item.Id })
            </td>
        </tr>
    }

</table>
